@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header-title {
    font-family: 'Raleway', sans-serif;
    background-color: yellow;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.library-container{
    background-color: aqua;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.sidebar {
    font-size: 1.2rem;
    background-color: rgb(59, 168, 15);
    width: 250px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.add-book-btn {
    width: 100%;
    height: 2.5rem;
    font-size: 1.2rem;
}

.add-book-btn:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: red;
}

.book-info{
    margin: 1rem;
    width: 15rem;;
    height: 18rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid black;
    border-radius: 10px;
}

.book-info > .read-or-not {
    background-color: lightblue;
    border: none;
    width: 55%;
    height: 10%;
    margin: 1rem;
    border-radius: 5px;
}

.book-info > .read-or-not:hover {
    background-color: #22D3EE;
}

.book-info > .remove-book {
    background-color: lightgray;
    border: none;
    width: 55%;
    height: 10%;
    border-radius:
     5px;
}
.book-info > .remove-book:hover {
    background-color: gray;
}

.book-info > p {
    padding: 1rem;
}
